<div class="container pt-4">
<h1 class="mb-5">Editar carrera</h1>

<%= render 'form', career: @career %>
</div>

<%= link_to 'Show', staff_career_path(@career) %> |
<%= link_to 'Back', staff_careers_path %>

