<div class="container pt-4">
<h1 class="mb-5">Editar docente carrera</h1>

<%= render 'form', teacher_career: @teacher_career %>
</div>

<%= link_to 'Show', staff_teacher_career_path(@teacher_career) %> |
<%= link_to 'Back', staff_teacher_careers_path %>
