<h1>Editing Staff Teacher Career</h1>

<%= render 'form', teacher_career: @teacher_career %>

<%= link_to 'Show', staff_teacher_career_path(@teacher_career) %> |
<%= link_to 'Back', staff_teacher_careers_path %>
