<h1>Editing Staff Teacher Degree</h1>

<%= render 'form', teacher_degree: @teacher_degree %>

<%= link_to 'Show', staff_teacher_degree_path(@teacher_degree) %> |
<%= link_to 'Back', staff_teacher_degrees_path %>
