<div class="container pt-4">
<h1 class="mb-5">Editar docente</h1>

<%= render 'form', teacher_degree: @teacher_degree %>
</div>

<%= link_to 'Show', staff_teacher_degree_path(@teacher_degree) %> |
<%= link_to 'Back', staff_teacher_degrees_path %>
