<h1>Editing Department Academic Charge</h1>

<%= render 'form', academic_charge: @academic_charge %>

<%= link_to 'Show', department_academic_charge_path(@academic_charge) %> |
<%= link_to 'Back', department_academic_charges_path %>
