<section class="container mt-5">
  <div class="d-flex justify-content-start align-items-center">
    <h2 class="display-2 mb-4">Docentes</h2>
    <a href="#" class="btn btn-primary ms-3">Ver mas</a>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="card px-3 py-2 px-md-5 py-md-4 card-green">
        <h3 class="display-6">Reportes</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-none">An item</li>
          <li class="list-group-item bg-none">A second item</li>
          <li class="list-group-item bg-none">A third item</li>
          <li class="list-group-item bg-none">A fourth item</li>
          <li class="list-group-item bg-none">And a fifth one</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <h3>Mas opciones</h3>
      <p>Listar todos</p>
      <p>Aplicar filtros</p>
      <p>Agregar docente</p>
    </div>
  </div>
</section>