<div class="container pt-4">
<h1 class="mb-5">Editar docente</h1>

<%= render 'form', teacher: @teacher %>
</div>

<%= link_to 'Show', staff_teacher_path(@teacher) %> 
<%= link_to 'Back', staff_teachers_path %>