<div class="container pt-4">
<h1 class="mb-5">Editar asignatura</h1>

<%= render 'form', subject: @subject %>
</div>


<%= link_to 'Show', @staff_subject %> |
<%= link_to 'Back', staff_subjects_path %>
